:root {
    --main-font: 'Poppins', sans-serif;
    --brand-color: linear-gradient(to bottom, rgba(0, 78, 146, .9), rgba(0, 4, 40, .9));
    --brand-color2: #ff3e8a;
    --heading-txt-color: #1D1D1D;
    --para-txt-color: #4A4A4A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.btn, .btn-close, input, textarea, button {
    box-shadow: none !important;
}

.navbar button:focus {
    box-shadow: none;
}

.para-color {
    color: var(--para-txt-color);
}

.heading-color {
    color: var(--heading-txt-color);
}

.brand-color {
    background: var(--brand-color);
}

.brand-color2 {
    background: var(--brand-color2);
}

.text-brand {
    color: var(--brand-color);
}

.check-mark {
    color: #5243C2;
}

.ff-poppins {
    font-family: var(--main-font);
}

/* ====================
    common css ends 
 ==================== */

#header {
    margin-top: 100px;
}

.navbar .nav-link {
    position: relative;
    transition: all linear .3s;
}

.navbar .nav-link:hover {
    color: black;
}

.navbar .nav-link::after {
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    bottom: 7px;
    left: 8px;
    background: #ffce32;
    transition: all linear .3s;

}

.navbar .nav-link:hover:after {
    width: 80%;
}

.navbar .nav-link:last-child::after {
    width: 0%;
}

/* ====================
    navbar css ends 
 ==================== */

 .carousel-item::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 4, 40, .6), rgba(0, 78, 146, .6));
    top: 0;
    left: 0;
 }

 .carousel-caption {
    z-index: 99;
 }

/* ====================
    banner css ends 
 ==================== */

/* ====================
    our courses css ends 
 ==================== */

 .companies-img img {
    width: 10%;
 }
/* ====================
    our courses css ends 
 ==================== */

